﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Dashboard 1</h2>
<table id="accidents" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Count</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#accidents").DataTable({
                ajax: {
                    url: "/api/AggregatedAccidents",
                    dataSrc: ""
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5'
                ],
                columns: [
                    { data: "Year" },
                    {
                        data: "Month",
                        render: function (data) { //Converting number to month
                            var months = [
                                'January', 'February', 'March', 'April', 'May',
                                'June', 'July', 'August', 'September',
                                'October', 'November', 'December'
                            ];
                            var n = months[data - 1];
                            return n;
                        }
                    },
                    { data: "Total" },
                    { data: "Percentage" }
                ]
            });

        });
    </script>
}
