﻿
@{
    ViewBag.Title = "Metrics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Metric</h2>
<table id="metrics" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Count</th>
            <th>Metric</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#metrics").DataTable({
                colReorder: true,
                ajax: {
                    url: "/api/Metrics",
                    dataSrc: "",

                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5'
                ],
                columns: [
                    { data: "Metric" },
                    { data: "Count" }
                ]
            });

        });
    </script>
}



