﻿
@{
    ViewBag.Title = "RushHour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RushHour</h2>

<table id="rushhour" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Timeframe</th>
            <th>Percentage (Rush Hour)</th>
            <th>Percentage (Outside Rush Hour)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#rushhour").DataTable({
                ajax: {
                    url: "/api/RushHourStats",
                    dataSrc: ""
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5'
                ],
                columns: [
                    { data: "TimeFrame" },
                    { data: "PercentageRush" },
                    { data: "PercentageNonRush" },
                ]
            });

        });
    </script>
}


